{% extends 'admin/base.html' %}
{% load static %}
<!--extends https://github.com/django/django/blob/main/django/contrib/admin/templates/admin/base.html-->
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/csv_form.css' %}">
{% endblock %}

{% block content %}
    <div>
        <h1>Importer un fichier CSV (données de référence pré-global warming)</h1>
        <p>Vous pouvez importer des données pour </p>
            <ul>
                <li>plusieurs stations à la fois</li>
                <li>plusieurs périodes à la fois</li>
                <li>Et même les deux</li>
            </ul>
        <p>La structure attendue est de mode key-value, avec une clef complexe (ref_period, minibasin_id, day_of_year) :
        </p>
            <ul>
                <li><b>'ref_period'</b> : les valeurs doivent correspondre aux entrées définies
                    dans <a href="/admin/sagui/stationsreferenceflowperiod/" target="_blank" >la liste des périodes de
                        référence</a>. Les entrées ne correspondant pas sont ignorées.</li>
                <li><b>'minibasin_id'</b> : identifiant de minibassin correspondant à la station. Comme les
                    données sont à l'origine générées via un run MGB, cela fait sens d'utiliser le code minibassin,
                    plutôt que l'identifiant de station, qui n'est pas vraiment fiable (généré automatiquement à
                    l'import du fichier stations)</li>
                <li><b>'day_of_year'</b> : jour de l'année (1-366)</li>
                <li><b>'flow'</b> : valeur de débit de référence ppour cette combinaison (clef)
                    ref_period, minibasin_id, day_of_year</li>
            </ul>
        <p>Exemple de contenu supporté : </p>
        <p class="code_block">
            ref_period,mini,day_of_year,flow<br />
        1980-1990,3467,1,-59.0<br />
        1980-1990,3467,2,-61.3<br />
        1980-1990,3467,3,-61.5<br />
        1980-1990,3467,4,-60.9<br />
        1980-1990,3467,5,-59.5<br />
            ...
        </p>

        <form action="." method="POST" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}

            <div class="submit-row">
                <a href="{% url 'admin:sagui_stationsreferenceflow_changelist' %}" class="btn btn-cancel">Cancel</a>
                <input type="submit" value="Charger le CSV"/>
            </div>
        </form>
    </div>
    <br />

{% endblock %}